= content_for :page_title do
  = Spree.t :upload_csv_file

= content_for :page_actions

= render partial: "spree/admin/shared/product_sub_menu"

= form_for [:admin, @import_source_file ], html: { class: "dropzone", multipart: true } do |f|
  .import
    %label{ for: "dont_import" } Only upload (Don't import products)
    %input{ type: "hidden", name: "import", value: true }
    = check_box_tag :import, false, false, id: "dont_import"

  .fallback
    = f.label :data, "Data File"
    = f.file_field :data
    = f.submit

#error_message.hidden
  %h3 Error
  %p.error

#last_import.hidden
  %h3 Last Import
  = render partial: "spree/admin/import_source_files/warning_table"
