= content_for :page_title do
  = Spree.t :imported_csv

= content_for :page_actions do
  = button_to "Edit in Google", admin_import_source_file_edit_in_google_path(@resource), method: :put, form: { target: "_blank" }
  - unless @resource.spreadsheet_url.nil?
    = button_to "Import from Google", admin_import_source_file_import_from_google_path(@resource), method: :post
  = button_to "Download", admin_import_source_file_path(@resource, format: "text")

= render partial: "spree/admin/shared/product_sub_menu"

#import_table{ "data-import" => { warnings: @resource.import_warnings, errors: @resource.import_errors, imported_records: @resource.imported_records }.to_json }
  %h3 Import Info

  = render partial: "spree/admin/import_source_files/warning_table"

%table.index
  %tr.odd
    - @resource.headers.each do |_,h|
      %th
        = h.raw
  - @resource.each do |row|
    %tr{ class: cycle("even", "odd") }
      - @resource.headers.each do |_,h|
        %td= truncate row[h.raw]
